:root {
  --branding-color: rgb(150, 61, 233);
  --secondary-color: rgb(229, 213, 245);
  --content-color: rgb(247, 241, 253);
  --default-font-color: rgb(39, 6, 70);
  --heading-font-family: Georgia, "Times New Roman", Times, serif;
  --default-font: "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  color: var(--default-font-color);
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

p {
  font-family: var(--default-font);
  font-size: 18px;
  line-height: 30px;
}

.shero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.shero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.shero h2 {
  font-family: var(--default-font);
  font-weight: normal;
  font-size: 27px;
  line-height: 1.5;
  opacity: 0.7;
}

.wrapper {
  background: var(--content-color);
  padding: 45px;
}
.page-content-container {
  padding: 175px 20px;
}

.page-content {
  margin: 50px;
}

.page-content h1 {
  font-size: 60px;
  line-height: 80px;
}

.page-content h2 {
  font-size: 20px;
  font-family: var(--default-font);
}

.page-content h3 {
  font-size: 24px;
  font-family: var(--default-font);
}

.page-content p {
  opacity: 0.7;
}

.self-image {
  border-radius: 15px;
  max-width: 390px;
}



.btn-branding {
  background: var(--branding-color);
  border-radius: 5px;
  color: rgb(219, 193, 243);
  font-size: 20px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.btn-branding:hover {
  background: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}

.btn-branding-outline {
  border-radius: 5px;
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  font-size: 20px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.btn-branding-outline:hover {
  background: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}

.feature-projects {
  font-size: 27px;
}

.container {
  padding: 50px;
}

.details {
  opacity: 0.7;
}

.image-project {
  border: 1px solid var(--secondary-color);
  border-radius: 20px;
  background: var(--secondary-color);
  padding: 37px;
  max-width: 520px;
}

.project-page {
  border-radius: 17px;
}

.work-heading {
  padding: 70px;
  font-size: 60px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 67px;
  }

  h2 {
    font-size: 48px;
  }

  .shero {
    padding: 80px 20px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .page-content-container {
    text-align: center;
    padding: 0;
  }

  .page-content-container h1 {
    font-size: 45px;
  }

  .page-content-container img {
    max-width: 300px;
  }

  .work-page {
    margin-bottom: 35px;
  }

  .work-heading {
    padding-bottom: 15px;
    font-size: 45px;
  }
}
